.App {
  text-align: center;
}

.App-header {
  background-color: #494B50;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 1.1vmin);
  color: white;
}

body {
  color: white;
  background-color: #33363D;
}

.App-link {
  color: #61dafb;
}

.centipede {
  max-width: 40%;
  margin-left: auto;
  margin-right: auto;
}


.shuffle {
  font-size: calc(10px + 1.4vmin);
  color: white;
  margin: 10px;
  border-radius: 25px;
  transition: color 0.3s ease-in-out;
}

.shuffle_page_icon {
  font-size: calc(10px + 0.2vmin);
  color: white;
  margin: 10px;
  border-radius: 10px;
  transition: all .2s ease-in-out;
  padding-bottom: 0.3vh;
}

.shuffle_page_icon_current {
  color:rgba(0, 140, 186, 0.7);
  font-size: calc(10px + 0.2vmin);
  margin: 10px;
  border-radius: 10px;
  transition: all .2s ease-in-out;
  padding-bottom: 0.3vh;
}

.shuffle:hover {
  color:rgba(0, 140, 186, 0.7);
}

.icon_bar {
  vertical-align: middle;
}

a:link {
  color: #6a89ba;
}

a:visited {
  color: #6a89ba;
}

input[type="number"] {
  max-width: 50px;
  min-height: 25px;
  min-width: 25px;
  text-align: center;
}

.submit {
  margin: 10px;
}
/*
.submitBlotto {
  text-align: center;
  margin: 10px;
}
*/

.cards {
  padding: 15px;
  max-width: 125px;
  
}

.cardLabels {
  display: flex;
  justify-content: center;
}

.cardLabelPlayer {
  margin-right: 70px;
}

.pokerDeal {
  text-align: center;
  margin: 10px;
}



.button1{
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin:1em 0.3em 0.3em 0.3em;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:black;
  text-align:center;
  transition: all 0.2s;
  }
  .button1:hover{
    color:#000000;
    background-color:#FFFFFF;
  }

  @media only screen and (max-width: 800px) {
    .centipede {
      max-width: 80%;
    }
  
    .cards {
      padding: 15px;
      max-width: 80px;
      justify-content: center;
    }

    .cardLabelPlayer {
      margin-right: 30px;
    }

    .button1 {
      display:block;
      margin:0.4em auto;
    }

  }